<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./vue.js"></script>
  
</head>
<body>

  <div id="app">
    <!-- <div v-if="type === 'A'">杉杉老师是最美的</div>
    <div v-else-if="type === 'B'">杉杉老师，今天好像变瘦了</div>
    <div v-else-if="type === 'C'">杉杉老师，今天的衣服搭配的真好</div>
    <div v-else>啥都不说了，杉杉老师绝对最好看了</div> -->

    <!-- <template v-if="show">
      <div>杉杉</div>
      <div>杉杉</div>
      <div>杉杉</div>
      <div>杉杉</div>
      <div>杉杉</div>
    </template> -->

    <!-- <div v-show="show">杉杉老师，今天好像变瘦了</div>
    <div v-if="show">杉杉老师，今天好像变瘦了</div> -->

    <template v-show="show">
      <div>杉杉</div>
      <div>杉杉</div>
      <div>杉杉</div>
      <div>杉杉</div>
      <div>杉杉</div>
    </template>
  </div>

  <script>

    const vm = new Vue({
      el: '#app',
      data: {
        show: "",
        type: 'D'
      }
    })

    
  </script>
</body>
</html>