<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
  <script src="./axios.js"></script>
  <script src="./vue.js"></script>
</head>

<body>

  <div id="app">
    <div class="username">
      <input type="text" placeholder="用户名" v-model="name">
    </div>
    <div class="mail">
      <input type="text" placeholder="邮箱" v-model="mail">
    </div>
    <div class="upload-btn" @click="handleUpload">上传</div>
    <div class="show-btn" @click="handleShow">显示人物信息</div>
    <ul class="person-list" v-if="personList.length">
      <li class="person" v-for="person in personList">
        <span>{{ person.name }}</span>
        <span>{{ person.mail }}</span>
      </li>
    </ul>
  </div>

  <script>


    const vm = new Vue({
      el: '#app',
      data: {
        name: '',
        mail: '',
        msg: '',
        personList: []
      },
      methods: {
        handleUpload () {
          
        },
        handleShow () {
          
        }
      },
      watch: {
        msg () {
          if(this.msg === '') {
            return;
          }
          alert(this.msg);
          this.msg = '';
        }
      }
    })
  </script>
</body>

</html>