@font-face {
  font-family: 'iconfont';  /* project id 1617436 */
  src: url('./font/iconfont.eot');
  src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./font/iconfont.woff2') format('woff2'),
  url('./font/iconfont.woff') format('woff'),
  url('./font/iconfont.ttf') format('truetype'),
  url('./font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont';
  font-style: normal;
}

.icon-down::before {
  content: '\e642';
}

.icon-right::before {
  content: '\e644';
}