@font-face {
  font-family: 'iconfont';  /* project id 1616046 */
  src: url('./font/iconfont.eot');
  src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./font/iconfont.woff2') format('woff2'),
  url('./font/iconfont.woff') format('woff'),
  url('./font/iconfont.ttf') format('truetype'),
  url('./font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont';
  font-style: normal
}

.icon-date::before {
  content: '\e72a';
}

.icon-prev-month::before {
  content: '\e712';
}

.icon-next-month::before {
  content: '\e718';
}

.icon-prev-year::before {
  content: '\e714';
}

.icon-next-year::before {
  content: '\e713';
}