.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 15px;
  z-index: 3;
  background-color: #fff;
}

.header .logo {
  margin-left: 18px;
}

.header .search-input {
  width: 132px;
  height: 24px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #999;
  background-color: #f4f4f4;
  border-radius: 12px;
}

.header .search-input svg {
  margin-left: 10px;
}

.header .search-input span {
  width: 92px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .avatar svg {
  border-radius: 50%;
}

.header .download-app {
  -webkit-user-drag: 78px;
  height: 23px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 12px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  background-color: #fb7299;
  font-size: 12px;
  border-radius: 4px;
}

.nav-box {
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-box .nav-list {
  width: 85%;
  white-space: nowrap;
  overflow-x: scroll;
  padding-left: 24px;
  /* display: none; */
}

.nav-box .nav-list::-webkit-scrollbar {
  display: none;
}

.nav-box .nav {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-right: 40px;
  color: #757575;
  font-size: 14px;
  border-bottom: 2px solid transparent;
}

.nav-box .nav.active {
  border-color: #fb7299;
  color: #fb7299;
}

.nav-box .down {
  position: absolute;
  top: -3px;
  right: 13px;
}


.hide-nav-box {
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
  padding-bottom: 20px;
  z-index: 2;
  transition: top .3s;
  background-color: #fff;
}

.hide-nav-box.hide {
  top: -117px;
}

.hide-nav-box .nav-list {
  /* display: none; */
}

.hide-nav-box .nav {
  display: inline-block;
  width: 32px;
  text-align: center;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14px;
  color: #757575;
  border-bottom: 2px solid transparent;
}

.hide-nav-box .nav.big {
  width: 46px;
  margin-left: 7px;
  margin-right: 7px;
}

.hide-nav-box .nav.active {
  border-color: #fb7299;
  color: #fb7299;
}

.hide-nav-box .up {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}